@import '../../web-colors.scss';

section#faq-cont {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    & h1 {
        font-size: 2.5rem;
        font-weight: 700;
        border-bottom: 3px solid $border-accent-color;
        padding: 1rem;
        margin-bottom: 1em;
        ;
    }

    & ol {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 20px;
        list-style-type: none;

        & li {
            width: 100%;
            height: auto;
            background-color: $secondary-web-color;
            padding: 2rem;
            border-radius: 20px;

            & details {

                // Remove default markers
                &>summary {
                    list-style: none;
                    padding: 1em;
                    font-size: 2rem;
                    cursor: pointer;
                    position: relative;
                    padding-right: 3rem;

                    &::-webkit-details-marker {
                        display: none;
                    }

                    // Custom '+' marker
                    &::after {
                        content: "+";
                        position: absolute;
                        right: 1rem;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 2.5rem;
                        color: $border-accent-color;
                        transition: all 0.3s ease;
                    }
                }

                // Change to '-' when open
                &[open]>summary::after {
                    content: "-";
                }

                & p {
                    padding: 1rem;
                    font-size: 2rem;
                }
            }
        }
    }
}