@import '../../gen-mixins.scss';
@import '../../fonts.scss';

article#cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & section#button-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    & section#button-holder button {
        @include general-button();
    }


    & h1 {
        border-bottom: 3px solid $border-accent-color;
    }
    & img {
        width: 100%;
        max-width: 40rem;
        height: auto;
        object-fit: cover;
    }
}