@import '../../web-colors.scss';
@import '../../fonts.scss';

article#cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & section#button-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    & section#button-holder button {
        background-color: $complementary-web-color;
        padding: 0.5em;
        font-family: 'Euclid Circular A Regular';
        font-weight: 600;
        font-size: 1.5em;
        box-shadow: none;
    }
    & section#button-holder button:hover {
        box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.8);
        transition: box-shadow 0.3s linear;
    }


    & h1 {
        border-bottom: 3px solid $border-accent-color;
    }
    & img {
        width: 100%;
        max-width: 40rem;
        height: auto;
        object-fit: cover;
    }
}