@font-face {
  font-family: 'Euclid Circular A Bold Italic';
  src: url('../assets/fonts/Euclid-Circular-A-Bold-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A Bold';
  src: url('../assets/fonts/Euclid-Circular-A-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A Italic';
  src: url('../assets/fonts/Euclid-Circular-A-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A Light Italic';
  src: url('../assets/fonts/Euclid-Circular-A-Light-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A Light';
  src: url('../assets/fonts/Euclid-Circular-A-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A Medium Italic';
  src: url('../assets/fonts/Euclid-Circular-A-Medium-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A Medium';
  src: url('../assets/fonts/Euclid-Circular-A-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A Regular';
  src: url('../assets/fonts/Euclid-Circular-A-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A SemiBold Italic';
  src: url('../assets/fonts/Euclid-Circular-A-SemiBold-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Euclid Circular A SemiBold';
  src: url('../assets/fonts//Euclid-Circular-A-SemiBold.ttf') format('truetype');
}