@import '_web-colors.scss';

*,
*::before,
*::after {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}

// Euclid Circular A Light
// Euclid Circular A Medium
// Euclid Circular A Regular
// Euclid Circular A SemiBold

body {
    background-color: $gen-web-color;
    font-family: 'Euclid Circular A SemiBold', sans-serif;
}